:root {
  --primary-color: #000080;
  --secondary-color: #ffc0cb;
}

.btn {
  padding: 8px 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.btn--primary {
  background-color: var(--primary-color);
  color: #ffffff;
  border: 1px solid var(--primary-color);
}

.btn--secondary {
  background-color: var(--secondary-color);
  color: #242424;
  border: 1px solid var(--secondary-color);
  transition: all 0.5s ease-in-out;
}

.btn-md {
  font-size: 20px;
}

.btn-lg {
  padding: 12px 26px;
  font-size: 20px;
}

.btn-md:hover,
.btn-lg:hover {
  background: transparent;
  color: inherit;
  transform: scale(1.07);
  transition: all 0.5s ease-in-out;
}

.btn-contact {
  background-color: var(--secondary-color);
  color: #242424;
  border: 1px solid var(--secondary-color);
  transition: all 0.5s ease-in-out;
  margin-left: 29rem;
  margin-top: 1rem;
}

@media screen and (max-width: 960px) {
  .btn-contact {
    margin-left: 0rem;
  }
}
