.intro {
  background: #654ea3;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
}

.intro-container {
  max-width: 90%;
  padding: 1rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details > h2 {
  font-size: 35px;
  margin-top: 0.5rem;
}

.details > h1 {
  font-size: 50px;
  margin-top: 0.5rem;
}

.details > p {
  margin-top: 8px;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.social li a i {
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  margin-right: 3px;
  display: inline-block;
}
.social li a i.facebook {
  background-color: #5472d2;
  border-color: #5472d2;
  color: #ffffff;
}
.social li a i.github {
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}
.social li a i.twitter {
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: #ffffff;
}
.social li a i.whatsapp {
  background-color: #1ebea5;
  border-color: #1ebea5;
  color: #ffffff;
}

.me {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: contain;
}

/* Media Query */
@media screen and (max-width: 960px) {
  .details > h2 {
  }

  .details > h1 {
    font-size: 50px;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .details {
    flex-direction: column-reverse;
    text-align: center;
  }

  .me {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }

  .details > h1 {
    font-size: 40px;
    margin-top: 0.3rem;
  }

  .details > p {
    font-size: 22px;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .myName {
    font-size: 18px !important;
  }

  .role {
    font-size: 25px !important;
    margin-bottom: 1rem;
  }
  .me {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 315px) {
}
